<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LagoVista.Core" version="2.1.1064-beta1512" targetFramework="xamarinios10" />
  <package id="LagoVista.Core.Authentication" version="2.1.1064-beta1512" targetFramework="xamarinios10" />
  <package id="LagoVista.Core.Networking" version="2.1.1064-beta1512" targetFramework="xamarinios10" />
  <package id="LagoVista.IoT.Logging" version="2.1.1064-beta1512" targetFramework="xamarinios10" />
  <package id="LagoVista.UserAdmin.Models" version="2.1.1064-beta1512" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter" version="3.1.0" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Analytics" version="3.1.0" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Crashes" version="3.1.0" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Distribute" version="3.1.0" targetFramework="xamarinios10" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="xamarinios10" />
  <package id="Microsoft.NETCore.Platforms" version="2.2.4" targetFramework="xamarinios10" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="xamarinios10" />
  <package id="Square.SocketRocket" version="0.5.1.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="4.2.0.910310" targetFramework="xamarinios10" />
</packages>