<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LagoVista.Core" version="2.1.1285-beta1826" targetFramework="xamarinios10" />
  <package id="LagoVista.Core.Authentication" version="2.1.1285-beta1826" targetFramework="xamarinios10" />
  <package id="LagoVista.Core.Networking" version="2.1.1285-beta1826" targetFramework="xamarinios10" />
  <package id="LagoVista.IoT.Logging" version="2.1.1285-beta1826" targetFramework="xamarinios10" />
  <package id="LagoVista.UserAdmin.Models" version="2.1.1285-beta1826" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter" version="4.0.0" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Analytics" version="4.0.0" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Crashes" version="4.0.0" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Distribute" version="4.0.0" targetFramework="xamarinios10" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="xamarinios10" />
  <package id="Microsoft.NETCore.Platforms" version="5.0.0" targetFramework="xamarinios10" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="xamarinios10" />
  <package id="Square.SocketRocket" version="0.5.1.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="4.8.0.1687" targetFramework="xamarinios10" />
</packages>